{% extends 'layout.html' %} {% block content %}

<form id="predictImageForm" action="" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="formFile" class="form-label">Select the mamography image:</label>
    <input class="form-control" type="file" name="predictImage" id="formFile" accept="image/*" required="required" />
  </div>

  <input type="submit" value="Predict Image" class="btn btn-secondary btn-lg" />
</form>

<div id="progress-bar">
  <div id="progress"></div>
</div>

<div id="result-container">
  <div class="card-group mt-4">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Classic CNN</h5>
        <p class="card-text">
        <table class="table table-bordered text-center">
          <thead class="thead-light">
            <tr>
              <th>Predicted Label</th>
              <th>Predicted Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="classicCNN_predicted_label"></td>
              <td id="classicCNN_predicted_average"></td>
            </tr>
          </tbody>
        </table>
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">ResNet50</h5>
        <p class="card-text">
        <table class="table table-bordered text-center">
          <thead class="thead-light">
            <tr>
              <th>Predicted Label</th>
              <th>Predicted Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ResNet50_predicted_label"></td>
              <td id="ResNet50_predicted_average"></td>
            </tr>
          </tbody>
        </table>
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">DenseNet201</h5>
        <p class="card-text">
        <table class="table table-bordered text-center">
          <thead class="thead-light">
            <tr>
              <th>Predicted Label</th>
              <th>Predicted Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="DenseNet201_predicted_label"></td>
              <td id="DenseNet201_predicted_average"></td>
            </tr>
          </tbody>
        </table>
        </p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img class="mt-5" id="reescaled_image" alt="" />
  </div>
</div>
{% endblock %} {% block customjs %}

<script>
  $(document).ready(function () {
    $('#predictImageForm').submit(function (event) {
      $('#progress-bar').css('display', 'block');
      event.preventDefault();
      var form = $(this);
      var formData = new FormData(form[0]);

      $('#loading-container').show();

      var progressBar = $('#progress');

      progressBar.css('width', '0%');

      $.ajax({
        url: form.attr('action'),
        type: form.attr('method'),
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        xhr: function () {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener('progress', function (event) {
            if (event.lengthComputable) {
              var percentComplete = (event.loaded / event.total) * 100;
              progressBar.css('width', percentComplete + '%');
            }
          });
          return xhr;
        },
        success: function (response) {
          $('#loading-container').hide();

          var imagenReescaladaBase64 =
            'data:image/jpeg;base64,' + response.image;

          $('#reescaled_image').attr('src', imagenReescaladaBase64);

          // Set Values in Classic CNN
          $('#classicCNN_predicted_label').text(response.result.classic_cnn.prediction.predicted_label)
          $('#classicCNN_predicted_average').text(parseFloat(response.result.classic_cnn.prediction.prediction_average).toFixed(5))

          // Set Values ResNet50
          $('#ResNet50_predicted_label').text(response.result.resnet50.prediction.predicted_label)
          $('#ResNet50_predicted_average').text(parseFloat(response.result.resnet50.prediction.prediction_average).toFixed(5))

          // DensetNet201
          $('#DenseNet201_predicted_label').text(response.result.densenet201.prediction.predicted_label)
          $('#DenseNet201_predicted_average').text(parseFloat(response.result.densenet201.prediction.prediction_average).toFixed(5))

          progressBar.css('width', '100%');
          $('#progress-bar').css('display', 'none');

          $("#result-container").show();
        },
        error: function () {
          $('#result-container').html('Error occurred during prediction.');

          progressBar.css('width', '0%');
          $('#progress-bar').css('display', 'none');
        },
        complete: function () {
          $('#loading-container').hide();
        },
      });
    });

    /*Size is  set in pixels... supports being written as: '250px' */
    var magnifierSize = 250;

    /*How many times magnification of image on page.*/
    var magnification = 4;

    function magnifier() {
      this.magnifyImg = function (ptr, magnification, magnifierSize) {
        var $pointer;
        if (typeof ptr == "string") {
          $pointer = $(ptr);
        } else if (typeof ptr == "object") {
          $pointer = ptr;
        }

        if (!($pointer.is('img'))) {
          alert('Object must be image.');
          return false;
        }

        magnification = +(magnification);

        $pointer.hover(function () {
          $(this).css('cursor', 'none');
          $('.magnify').show();
          //Setting some variables for later use
          var width = $(this).width();
          var height = $(this).height();
          var src = $(this).attr('src');
          var imagePos = $(this).offset();
          var image = $(this);

          if (magnifierSize == undefined) {
            magnifierSize = '150px';
          }

          $('.magnify').css({
            'background-size': width * magnification + 'px ' + height * magnification + "px",
            'background-image': 'url("' + src + '")',
            'width': magnifierSize,
            'height': magnifierSize
          });

          //Setting a few more...
          var magnifyOffset = +($('.magnify').width() / 2);
          var rightSide = +(imagePos.left + $(this).width());
          var bottomSide = +(imagePos.top + $(this).height());

          $(document).mousemove(function (e) {
            if (e.pageX < +(imagePos.left - magnifyOffset / 6) || e.pageX > +(rightSide + magnifyOffset / 6) || e.pageY < +(imagePos.top - magnifyOffset / 6) || e.pageY > +(bottomSide + magnifyOffset / 6)) {
              $('.magnify').hide();
              $(document).unbind('mousemove');
            }
            var backgroundPos = "" - ((e.pageX - imagePos.left) * magnification - magnifyOffset) + "px " + -((e.pageY - imagePos.top) * magnification - magnifyOffset) + "px";
            $('.magnify').css({
              'left': e.pageX - magnifyOffset,
              'top': e.pageY - magnifyOffset,
              'background-position': backgroundPos
            });
          });
        }, function () {

        });
      };

      this.init = function () {
        $('body').prepend('<div class="magnify"></div>');
      }

      return this.init();
    }

    var magnify = new magnifier();
    magnify.magnifyImg('img', magnification, magnifierSize);

  });
</script>
{% endblock %}